.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button#previous-button {
    background-color: #333;
}

button#next-button {
    background-color: #4caf50;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: #999;
}
